:root {
  --titles-color: #212121;
  --accent-color: #2196f3;
  --text-color: #757575;
  --blackground: #2f303a;
  --white-text: #ffffff;
}

* {
  font-family: Roboto;
  font-style: normal;
}

.list,
.team-list,
.contacts-list {
  list-style: none;
}

/* header/footer */

.logo {
  font-family: Raleway;
  font-weight: 700;
  color: var(--accent-color), 100%;
}

.site-nav {
  font-weight: 500;
  color: var(--titles-color);
}

.footer > .contacts-list {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--accent-color);
}

.link-active {
  color: var(--accent-color);
}

.ftr {
  font-weight: 400;
  background-color: var(--blackground);
  color: var(--white-text);
}
