/* index  */

.hero {
  background-color: var(--blackground);
}

.hero-title {
  font-weight: 900px;
  color: var(--white-text);
}

.button {
  background-color: var(--accent-color);
  color: var(--white-text);
}

.section-title {
  font-weight: 700px;
  color: var(--titles-color);
}

.list > h3 {
  font-weight: 500px;
  color: var(--titles-color);
}

.list p {
  font-weight: 400px;
  color: var(--text-color);
}

/* portfolio */
